<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DownLoader" value="C:\Program Files (x86)\Internet Download Manager\IDMan.exe"/>
  </appSettings>
</configuration>